<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>admin login</h1>
    <br>
    <section>
        <form action="/admin" method="post">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="parola" placeholder="Password">
            <button class="button-78" type="submit" value="giriş yap">giriş yap</button>

        </form>
    </section>  
</body>
</html>