<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="/style3.css">
</head>
<body>
    <div>
        <div class="container" onclick="window.location.href='/Filmler';">
            <h1>Filmler</h1>
        </div>
        
        <div class="container1" onclick="window.location.href='/diziler';">
            <h1>Diziler</h1>
        </div>
    </div>

    <div>
        <div class="container" onclick="window.location.href='/hesap';">
            <h1>Hesabım</h1>
        </div>
        <div class="container1" onclick="window.location.href='/Blog';">
            <h1>Blog</h1>
        </div>
    </div>
</body>
</html>