<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <form>
        <div class="title-box">Film Atlas</div>

        <button class="button-78" type="button" onclick="location.href ='girisPage';">Giriş Yap</button>
        <br>
        <button class="button-78" type="button" onclick="location.href= 'uyeolPage';">Uye ol</button><br>
        <button class="button-78" type="button" onclick="location.href ='/anasayfa';">Uye olmadan devam et</button>
        <button class="button-78" type="button" onclick="location.href ='/admin/login';">Admin Giriş</button>
    </form>
    
</body>
</html>