
body{
    background-color: #bb8585;
}

h1{
    margin-left: 25px;
    background-color: #ffabab;
    margin-right: auto;
}

  div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
.container1 {
  
  width: wrap;
  height: 75px;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fotoCont{
    width: 75px;
    height: 90px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.textCont{
    width: 75px;
    height: 90px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}